[submodule "themes/holyfamilyseattle.github.io"]
	path = themes/holyfamilyseattle.github.io
	url = https://github.com/holyfamilyseattle/holyfamilyseattle.github.io
[submodule "alpha-church"]
	path = alpha-church
	url = https://github.com/holyfamilyseattle/alpha-church
